*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.container,
.leftc,
.rightskill,
.rightc,
.rightcont{
    display: flex;
    width: 100%;
   
}
.leftc,
.rightskill,
.rightcont,
.rightc,.leftskill

{
    flex-direction: column;
}


.leftc,.rightcont{
margin-top:8rem;

}


.leftskill1
{
    background-color: blueviolet;
  
   border-radius: 1px;
  margin-left:2rem;
  

 
  

   
  
}


.rightskill1{
    background-color: blueviolet;
    margin:1.5rem;
    width:20%;
    
  
}
.leftskill1,.leftstyle{
background-color: blue;
    border-radius: 10px;
    margin:1rem;
    width:50%;
 
    position: relative;
    animation: my 3s infinite;
}
 @keyframes my{
    from{
        width:0;
    }
    to{
        width:30rem;
    }
} 




