*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.form{
  display: flex;
  flex-direction: column;

  
  
}
.main{
    width:100%;

    margin-top: 8rem; 
     background-image: linear-gradient(to left ,rgb(12, 12, 13) , rgb(11, 11, 11),rgb(28, 28, 29));

}


.main-text{
    font-family: sans-serif;
    font-size: larger;
    margin:2rem;
    
}
.form1{
    margin:0.5rem;
    
}
.button{
    color:black;
    font-weight: bold;
    padding:1rem;
    border-radius: 10px;
    animation: buttn 2s ease;
   
}



.text1,.text2,#write{
    color:black;
 padding:1rem;
 border-radius: 25px;
}