

*{
    margin:0px;
    padding:0%;
    box-sizing: border-box;
}


.MInNav{
    width:100%;
    background-color: blue;
   display: flex;
   padding: 1em;

    
}

.Portfolio{


}
.Menu{

}
.Menuitm1{
margin-left: 14rem;
padding: 2rem;

    
   
}
