*{
    margin:0px;
    padding:0%;
    box-sizing: border-box;
}



.Intro,.heading{
    padding-top: 4rem;
    display: flex;
    width: 100%;
}
.heading{
    flex-direction: column;
}
#fix{
    width: 60%;
    border-radius: 1rem ;
    /* box-shadow: 5px 10px 15px 15px blue; */
    background-image: linear-gradient(to left ,rgb(34, 34, 192) , rgb(76, 80, 84),rgb(82, 82, 239));
    

}
.button-content{
  
   
    border-radius: 5px;
    background-color:blue ;
    /* padding: 1rem 1rem; 
    margin-top: 12rem; */
    
}
.para{
    align-items:center;
}