*{
    margin:0px;
    padding:0%;
    box-sizing: border-box;
   
}
.int1,int{
    font-size: 2rem;
    margin-top: -8%;
}


.Intro,.heading{
    padding-top: 4rem;
    display: flex;
    width: 100%;
}
.Intro,.fix3{
    /* background-image:url('../../assests/cp1.jpg') ; */
   

    /* box-shadow: 20px 20px 10px black inset; */
    /* background: linear-gradient(-45deg, black 0%, #030815 100% ); */
}
.heading{
    flex-direction: column;
}
#fix{
    width: 60%;
    border-radius: 1rem ;
    /* box-shadow: 5px 10px 15px 15px blue; */
    background-image: linear-gradient(to left ,rgb(172, 93, 212)) , rgb(76, 80, 84),rgb(82, 82, 239);
    

}

.para{
    align-items:center;
}

button {
  background-color: #444141;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
 }
 
 button:hover {
  background-image: linear-gradient(90deg, #3227d1 0%, #dcc66c 50%, #ffa3b6 75%, #4b23d1 100%);
  animation: slidernbw 5s linear infinite;
  color: #000;
 }
 
 @keyframes slidernbw {
  to {
   background-position: 20vw;
  }
 }
  
  